# Node dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Environment variables
.env

# IDE/Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.out
*.err
log.*
debug.log

# Misc
*.bak
*.tmp
